*,
*::before,
*::after {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --main-white: #fafafa;
  --text-dark: #333;
}

body {
  padding: 15px;
  overflow-x: hidden;
  min-height: 100vh;
  background: var(--main-white);
  color: var(--text-dark);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  /* line-height: 1.4; */
  text-align: left;
}

p {
  text-align: justify;
  margin-bottom: 2em;
}

ul {
  padding-left: 40px;
}

li {
  padding: 4px 0;
}
